<a href="https://colab.research.google.com/github/Itsmrk/Bahria-Uni/blob/master/Labwork_11_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler 
scale = StandardScaler()
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [3]:
data = pd.read_csv("/content/drive/My Drive/Datasets/train.csv")

In [4]:
data

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [5]:
X = data.iloc[:,0:20] #indepndent Columns

In [6]:
Y = data.iloc[:,-1] #target column i.e price range

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=100)
X_train.shape
print(X_test.shape)

(600, 20)

In [8]:
#part 
from sklearn import svm , metrics
#classifier = svm.SVC()
classifier=svm.SVC(C=1.0,kernel='linear',gamma=0.01,verbose=True)
classifier.fit(X_train,Y_train)
Y_pred=classifier.predict(X_test)
print(Y_pred)
print("Confusion matrix:\n%s"% metrics.confusion_matrix(Y_test,Y_pred))

[LibSVM][0 2 1 3 2 3 3 2 3 0 0 2 3 3 0 2 2 3 2 0 0 3 1 0 0 1 3 0 2 2 0 3 0 2 0 2 3
 2 1 3 3 3 0 0 3 3 2 0 1 2 3 2 3 2 1 3 1 3 1 0 3 2 3 0 2 0 0 3 3 2 0 0 2 0
 2 3 0 3 2 3 2 0 2 0 2 2 1 2 3 3 2 3 3 2 0 2 3 1 2 1 0 0 3 3 2 0 0 1 0 1 1
 1 3 2 0 3 1 3 1 1 3 1 0 1 3 2 3 2 0 3 2 0 1 2 3 1 3 2 0 1 3 0 2 3 1 2 2 2
 0 1 0 3 2 2 1 0 2 3 1 1 3 2 3 0 1 3 0 2 3 0 2 0 2 1 1 2 2 1 3 1 0 2 1 0 0
 3 2 2 3 2 1 1 2 1 2 2 3 1 1 1 3 1 2 1 3 0 1 3 3 2 0 1 2 0 1 2 3 0 2 3 0 3
 0 0 1 1 2 3 2 0 2 2 0 1 1 3 2 2 1 0 1 3 1 1 0 2 3 1 1 1 1 2 3 1 3 2 2 1 2
 3 1 3 2 2 2 2 2 1 2 1 1 3 2 0 2 1 1 3 2 2 2 1 3 1 0 2 3 0 0 1 3 2 1 2 2 0
 2 3 1 3 3 3 0 0 3 0 3 0 0 0 3 0 1 1 0 1 1 3 1 1 3 3 0 0 0 0 0 2 1 1 2 1 0
 0 1 2 3 1 2 1 0 2 0 0 3 2 1 1 0 2 0 3 3 0 2 3 0 0 1 2 3 3 1 3 0 3 1 2 1 0
 2 0 0 2 2 3 0 1 1 3 0 3 0 1 0 1 0 2 2 1 1 3 0 1 0 3 0 3 0 0 0 0 3 0 0 3 3
 1 1 3 0 0 2 1 0 0 2 2 0 0 3 0 0 0 2 1 1 1 0 3 0 0 2 3 1 0 2 1 3 2 0 0 0 0
 2 0 1 1 0 3 3 2 2 3 0 3 2 3 3 0 0 3 0 1 1 0 0 2 0 3 3 0 1 1 1 1 2 1 1 0 0
 2 3 3 2 1 1 3 1 2 0 2 1 2 0 1 1 2 3 2 0 1 2 1 0 3 3 0 1 3 2 3 0 0 3 2 1 1
 1 3 1 2 3 3 1 2 3 2 1 3 1 2 2 3 1 1 0 0 2 3 3 2 0 1 3 0 2 3 2 2 2 0 1 0 0
 1 2 0 2 1 1 1 3 2 1 0 3 3 0 3 0 2 3 2 0 0 1 3 0 2 1 3 0 2 1 0 2 3 2 1 0 2
 1 2 0 2 0 2 0 3]
Confusion matrix:
[[158   1   0   0]
 [  2 138   6   0]
 [  0   4 141   2]
 [  0   0   5 143]]

In [9]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred)*100)

96.66666666666667

In [10]:
bestfeatures = SelectKBest(score_func=chi2, k=2)
fit = bestfeatures.fit(X,Y)

In [11]:
dfscores = pd.DataFrame(fit.scores_)

In [12]:
dfcolumns = pd.DataFrame(X.columns)

In [13]:
#concat two dataframes for batter visualization
featureScores = pd.concat([dfcolumns,dfscores],axis=1)

In [14]:
featureScores.columns = ['Specs', 'Score']

In [15]:
print(featureScores.nlargest(10,'Score'))

            Specs          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878

In [16]:
features = fit.transform(X)
features

array([[  20., 2549.],
       [ 905., 2631.],
       [1263., 2603.],
       ...,
       [ 868., 3057.],
       [ 336.,  869.],
       [ 483., 3919.]])

In [17]:
X_train,X_test,Y_train,Y_test=train_test_split(features,Y,test_size=0.3,random_state=100)
X_train.shape
print(X_test.shape)

(600, 2)

In [18]:
#part 
from sklearn import svm , metrics
#classifier = svm.SVC()
classifier=svm.SVC(C=1.0,kernel='linear',gamma=0.01,verbose=True)
classifier.fit(X_train,Y_train)
Y_pred=classifier.predict(X_test)
print(Y_pred)
print("Confusion matrix:\n%s"% metrics.confusion_matrix(Y_test,Y_pred))

[LibSVM][0 2 0 3 2 3 3 2 3 1 0 1 3 3 0 2 2 3 2 0 0 3 1 0 0 1 3 0 1 2 0 3 0 2 0 3 3
 2 1 3 3 3 0 0 3 3 3 0 1 3 3 3 3 2 1 3 1 3 1 0 2 2 3 0 3 0 0 3 3 2 0 1 2 1
 2 3 0 3 2 3 1 0 3 0 2 2 2 2 3 3 3 2 3 2 0 1 3 1 1 1 0 0 2 3 2 0 0 0 1 2 1
 2 3 2 0 3 2 2 0 1 3 1 1 2 3 2 3 2 0 2 2 1 1 2 2 1 3 2 0 1 3 0 2 3 2 2 2 2
 0 2 0 3 1 2 1 0 2 3 0 1 3 2 3 0 1 3 0 3 3 0 2 1 2 1 2 1 2 1 3 0 0 2 1 0 0
 3 2 2 3 2 2 1 2 1 2 2 2 2 2 1 3 1 2 1 3 0 1 3 3 2 0 1 2 0 1 2 3 0 1 2 0 3
 0 0 1 2 2 3 1 0 1 2 0 1 0 3 3 2 2 0 1 3 2 1 0 2 2 1 2 2 1 3 3 0 3 2 1 1 2
 3 1 2 3 2 2 2 3 0 1 0 1 2 2 0 2 1 1 3 2 1 2 1 3 1 0 2 3 0 0 1 3 2 1 3 2 0
 2 3 0 2 3 2 0 0 3 1 3 1 1 0 3 0 1 2 0 0 1 3 1 2 3 3 0 0 0 0 0 3 1 1 2 1 0
 0 1 2 3 1 2 1 0 3 0 0 3 2 1 2 0 2 0 3 3 0 2 3 1 0 1 3 3 3 2 3 0 3 1 2 0 0
 2 0 0 1 2 3 1 1 1 2 1 2 0 1 0 1 1 2 3 1 1 3 0 1 0 3 0 3 0 0 0 0 3 0 0 3 3
 1 1 3 0 0 3 2 0 0 1 2 0 0 3 0 0 0 2 1 1 1 0 3 0 0 2 3 1 0 1 0 3 1 0 0 0 0
 2 0 0 1 0 3 3 2 2 3 1 3 3 3 3 0 0 3 0 2 1 0 0 2 0 3 3 1 1 1 1 1 2 1 1 0 0
 2 3 2 2 1 0 2 2 1 0 2 2 2 0 1 1 2 2 2 0 2 2 1 0 2 3 0 1 3 2 3 0 0 2 1 1 0
 1 3 1 2 3 3 0 2 3 2 1 3 0 2 2 3 1 1 0 0 2 2 3 3 0 0 2 0 2 3 2 1 2 0 2 0 0
 1 3 0 1 1 1 1 3 2 1 0 2 3 0 3 0 3 2 1 0 0 1 3 0 1 1 3 0 2 1 1 2 3 1 1 0 1
 1 2 1 2 0 2 0 3]
Confusion matrix:
[[141  18   0   0]
 [ 20  97  29   0]
 [  0  26 101  20]
 [  0   0  25 123]]

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred)*100)

77.0