# Area of rectangle

In [10]:
l = int(input("Enter Length : "))
w = int(input("Enter Width : "))
def area_of_rectangle(l,w):
    area = l * w
    print("Area is : ",area)
area_of_rectangle(l,w)

Enter Length : 10
Enter Width : 20
Area is :  200

# perimeter of rectangle

In [11]:
l = int(input("Enter Length : "))
w = int(input("Enter Width : "))
def perimeter_of_rectangle(l,w):
    perimeter = 2*(l + w)
    print("Perimeter is : ",perimeter)
perimeter_of_rectangle(l,w)

Enter Length : 10
Enter Width : 30
Perimeter is :  80

# Eligible for voting or not

In [12]:
age = int(input("Enter your Age : "))
if age < 18:
    print("Your not eligible for voting")
else:
    print("Your eligible for voting")

Enter your Age : 18
Your eligible for voting

# Factorial

In [2]:
num = int(input("Enter a number to find factoial : "))
result = 1
for a in range(1,num+1):
    result *=a 
print(result)

Enter a number to find factoial : 5
120

In [5]:
num = int(input("Enter a number to find factoial : "))
a = 1
i = 1
while i <= num:
    a =a*i 
    i+=1
print(a)

Enter a number to find factoial : 5
120

# Find power of a number

In [8]:
num1 = int(input("Enter number : "))
num2 = int(input("Enter the number to find power : "))
result = num1 ** num2
print("The power of {0} by {1} is : {2}".format(num1,num2,result))

Enter number : 4
Enter the number to find power : 5
The power of 4 by 5 is : 1024

In [7]:
for i in range(5):
    for a in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

# Dictionaries

In [11]:
tel = { "Asad" : 12 , "Ali": 21}

In [12]:
tel["Asad"]  # accessing value using key

12

In [13]:
tel

{'Asad': 12, 'Ali': 21}

In [14]:
tel["omer"] = 33 # inserting value in Distionary

In [15]:
tel

{'Asad': 12, 'Ali': 21, 'omer': 33}

In [16]:
del tel["Ali"] # deleting value from dictionary

In [17]:
tel

{'Asad': 12, 'omer': 33}

In [18]:
list(tel)

['Asad', 'omer']

In [19]:
tel["Rizwan"] = 9

In [20]:
list(tel)

['Asad', 'omer', 'Rizwan']

In [21]:
sorted(tel)

['Asad', 'Rizwan', 'omer']

In [25]:
"Asad" in tel # finding/verifing key in dictionary  "True" mena value is present

True

In [24]:
"Asad" not in tel # in this case value is present so it return "False"

False

# Creating Dictionary

In [27]:
dict([("Ali",22),("Asad",23),("omer",24),("Mrk",25)]) #converting list to dictionary , list contaning tuples of two value
# first value is known as key while the 2nd value is the value stored in the key

{'Ali': 22, 'Asad': 23, 'omer': 24, 'Mrk': 25}

In [29]:
dict(Asad = 11 , Ali = 12 , omer= 13)

{'Asad': 11, 'Ali': 12, 'omer': 13}

# Loops in Dictionary

In [30]:
tel = {'Asad': 12, 'Ali': 21, 'omer': 33}
for i,j in tel.items():
    print(i,j)

Asad 12
Ali 21
omer 33

# Loops: Two or more seuencs::zip

In [32]:
name = ["Asad","Ali","Omer","Shah"]
age = [11,22,33,44]
for n,a in zip(name, age):
    print("{0} age is {1}".format(n,a))

Asad age is 11
Ali age is 22
Omer age is 33
Shah age is 44

# Sorting

In [36]:
fruits = ["apple","orange","banana","pear","orange","apple","pear"]
for f in sorted(set(fruits)): # first fruits list is converted to set
    print(f,end=' ')

apple banana orange pear

# Modules

In [3]:
import factorial

In [4]:
factorial.factorial(4)

24